<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GameServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <appender name="MainFileAppender" type="AgentCommon.FileAppender">
      <file value="./%appname-%date-%time.log"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value=""/>
        <footer value=""/>
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="MainFileAppender" />
    </root>
  </log4net>

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegistrar" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://localhost:3154/Registrar.svc" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_IRegistrar" contract="GameRegistry.IRegistrar"
              name="LocalHttpBinding_IRegistrar" />
          <endpoint address="http://cs5200web.serv.usu.edu/Registrar.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRegistrar" contract="GameRegistry.IRegistrar"
                name="ProdHttpBinding_IRegistrar" />
        </client>
  </system.serviceModel>
  <appSettings>
    <add key="GameRegistryEndPoint" value="LocalHttpBinding_IRegistrar" />
  </appSettings>
</configuration>