/AckNakTester.class
/JoinGameTester.class
/MessageTestre.class
/StartGameTester.class
/TestMessages.class
/ReadyReplyTester.class
/StatusReplyTester.class
/EndGameTester.class
/MessageEncodingSamples.class
