<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRegistrar" />
                <binding name="BasicHttpBinding_IRegistrar1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cs5200web.serv.usu.edu/Registrar.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegistrar"
                contract="GameRegistry.IRegistrar" name="ProdHttpBinding_IRegistrar" />
            <endpoint address="http://localhost:3154/Registrar.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRegistrar1" contract="GameRegistry.IRegistrar"
                name="BasicHttpBinding_IRegistrar" />
        </client>
    </system.serviceModel>
</configuration>