/AckNak.class
/AddComponent.class
/AgentListReply.class
/ChangeStrength.class
/Collaborate.class
/ConfigurationReply.class
/Eat.class
/EndGame.class
/ExitGame.class
/GetResource$PossibleResourceType.class
/GetResource.class
/GetStatus.class
/JoinGame.class
/Message$MESSAGE_CLASS_IDS.class
/Message.class
/Move.class
/PlayingFieldReply.class
/ReadyReply.class
/RemoveComponent.class
/Reply$PossibleStatus.class
/Reply$PossibleTypes.class
/Reply.class
/Request$PossibleTypes.class
/Request.class
/ResourceReply.class
/StartGame.class
/StatusReply.class
/ThrowBomb.class
/TickDelivery.class
/ValidateTick.class
